body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    position: relative;
}

nav ul li a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ff0000; /* Cor vermelha para a barra */
    transition: width 0.3s;
}

nav ul li a:hover:after {
    width: 100%;
}

nav ul li:hover > a {
    color: #ff0000; /* Cor vermelha */
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul li:hover ul {
    display: block;
}

/* Estilos para tornar o menu responsivo */
@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: stretch;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    nav ul li:last-child {
        margin-bottom: 0;
    }

    nav ul li ul {
        top: 0;
        left: 100%;
        display: none;
    }

    .menu-toggle:checked + label + nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    .menu-toggle:checked + label + nav ul li:hover ul {
        display: none;
    }
}

.menu-toggle {
    display: none;
}

label[for="menu-toggle"] {
    cursor: pointer;
    color: #ff0000; /* Cor vermelha para o botão do menu */
    font-size: 20px; /* Tamanho do ícone do menu */
    padding: 10px;
    display: none;
}

/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: #ff0000;

    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-left,
.footer-right {
    flex: 1;
}

.footer-right {
    margin-left: 50%;
}

.footer-left,
.four-locations {
    margin-left: 5%;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons img {
    width: 34px;
    height: 34px;
    object-fit: cover;
}

.logo {
    padding-left: 70px;
    padding-right: 255px;
}

.logo img {
    width: 50px; /* Ajuste a largura conforme necessário */
    height: 50px; /* A altura será ajustada automaticamente mantendo a proporção original da imagem */
    border-radius: 10px;
    display: flex;
    align-items: center;
}

/* Estilos para o carrossel de imagens */
#carouselExampleIndicators {
    position: relative;
}

#carouselExampleIndicators .carousel-inner {
    width: 100%;
}

#carouselExampleIndicators .carousel-item {
    display: none;
    position: relative;
}

#carouselExampleIndicators .carousel-item.active {
    display: block;
}

#carouselExampleIndicators img {
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
}

#carouselExampleIndicators .carousel-control-prev,
#carouselExampleIndicators .carousel-control-next {
    width: 15%;
    opacity: 0.5;
    color: #ff0000;
    border: none;
    transition: opacity 0.15s ease;
}

#carouselExampleIndicators .carousel-control-prev:hover,
#carouselExampleIndicators .carousel-control-next:hover {
    opacity: 0.9;
}

#carouselExampleIndicators .carousel-control-prev-icon,
#carouselExampleIndicators .carousel-control-next-icon {
    background-size: contain;
    background-repeat: no-repeat;
}

#carouselExampleIndicators .carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#carouselExampleIndicators .carousel-indicators button {
    width: 15px;
    height: 3px;
    margin: 0 5px;
    background-color: #696767;
    border: none;
    opacity: 0.5;
    transition: opacity 0.6s ease;
}

#carouselExampleIndicators .carousel-indicators button.active {
    background-color: #696767;
    opacity: 1;
}

/* Estilos para o mapa */
#map-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10%;
}

#map {
    flex: 1;
    height: 400px;
    max-width: 100%;
}

#info-container {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

#info-container p {
    margin: 0;
}

/* Estilo da borda vermelha arredondada */
#map {
    border: 2px solid #ff0000;
    border-radius: 10px;
    overflow: hidden;
}

/* Outros estilos específicos */
.carousel-item {
    font-size: 2em;
}

.carousel-caption h5,
.carousel-caption p {
    color: #dfc21bf5;
}

.carousel-item img {
    max-height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    display: flex;
}

iframe {
    border-radius: 20px;
}

.logoPrincipal {
    align-items: center;
    padding-left: 30%;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* largura ajustável */
    height: 20px; /* altura ajustável */
    border: none;
    border-radius: 20%;
    z-index: 10;
    background-color: transparent;
}

.carousel-control-prev {
    left: 1px; /* ajuste a distância do lado esquerdo */
}

.carousel-control-next {
    right: 1px; /* ajuste a distância do lado direito */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}
